<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    <td><%= book.name %></td>
    <td><%= book.genre %></td>
    <td><%= book.description %></td>
    <td><%= book.page_length %></td>
    <% book.author.each do |a| %>
    <td><%= a.first_name %></td>
    <td><%= a.first_name %></td>
    <% end %>
    <% book.rating.each do |r| %>
    <td><%= r.ratings %></td>
    <% end %>
      <tr>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
