<p id="notice"><%= notice %></p>

<div class="booksshow">
  <ol>

<br><strong>Title</strong></br>
<br><%= @book.title %></br>

<br><strong>Author</strong></br>
<br><%= @book.author %></br>

<br><strong>Genre</strong></br>
<br><%= @book.genre %></br>

<br><strong>Description</strong></br>
<br><%= @book.description %></br>

<br><strong>Page Length</strong></br>
<br><%= @book.page_length %></br>

<div class="ratingsform">
  <ol>
  </ol>
</div>

<div class="ratings_form">
<br><strong>ratings</strong></br>
<%= render 'ratings/ratings' %>
</div>

<%= form_for([@book, @rating]) do |f|  %>
<%= f.text_area :stars %>
<p><%= f.submit %></p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %>
</ol>
</div>
