<p id="notice"><%= notice %></p>

<br><strong>Title</strong></br>
<br><%= @book.title %></br>

<br><strong>Author</strong></br>
<br><%= @book.author %></br>

<br><strong>Genre</strong></br>
<br><%= @book.genre %></br>

<br><strong>Description</strong></br>
<br><%= @book.description %></br>

<br><strong>Page Length</strong></br>
<br><%= @book.page_length %></br>  


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
