<p id="notice"><%= notice %></p>

<strong>Title</strong>
<%= @book.title %>

<strong>Author</strong>
<%= @book.author %>

<strong>Genre</strong>
<%= @book.genre %>

<strong>Description</strong>
<%= @book.description %>

<strong>Page Length</strong>
<%= @book.page_length %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
