<div class="navbar">
<ul>
<% if user_signed_in? %>
<%= link_to current_user.email, edit_user_registration_path %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Login with Facebook", user_facebook_omniauth_authorize_path %>
<% end %>
</ul>

<ul>
<li><%=link_to 'Home', root_path %></li>
/
<li><%=link_to 'Your Book Shelf', books_path, :class => "book_index" %></li>
/
<li><%= link_to 'Add A Book To Your Shelf', new_book_path %></li>
</ul>
</div>
