<!DOCTYPE html>

<%= render 'layouts/navbar' %>



<html>
  <head>
    <title>Books</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body><div id="appcontainer">
    <ol>
    </ol>
    <%= yield %></div>
  </body>
</html>

cant render because it doesnt exist
make _show and render it in layout?
